<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0DJKQVYLP5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0DJKQVYLP5');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Thayer Birding Software</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <style>
        .sold-block {
            margin-top: 15px; 
            text-align:center; 
            line-height: 46px;
            background-color: darkred; 
            color: white; 
            font-weight:bold;
        }
        .cancelled {
            text-decoration:line-through;
        }
    </style>

    <!-- <script>
    var Email = { send: function (a) { return new Promise(function (n, e) { a.nocache = Math.floor(1e6 * Math.random() + 1), a.Action = "Send"; var t = JSON.stringify(a); Email.ajaxPost("https://smtpjs.com/v3/smtpjs.aspx?", t, function (e) { n(e) }) }) }, ajaxPost: function (e, n, t) { var a = Email.createCORSRequest("POST", e); a.setRequestHeader("Content-type", "application/x-www-form-urlencoded"), a.onload = function () { var e = a.responseText; null != t && t(e) }, a.send(n) }, ajax: function (e, n) { var t = Email.createCORSRequest("GET", e); t.onload = function () { var e = t.responseText; null != n && n(e) }, t.send() }, createCORSRequest: function (e, n) { var t = new XMLHttpRequest; return "withCredentials" in t ? t.open(e, n, !0) : "undefined" != typeof XDomainRequest ? (t = new XDomainRequest).open(e, n) : t = null, t } };
    </script> -->

<script>
        function notDoneYet(){
            alert("This link or button is still under construction.");
        }
    </script>
    <script src="assets/js/contactusform.js"></script>
    <style>
        .smallbulletlist {
            font-size: smaller;
        }
    </style>
    
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

{% include 'includes/contactusform.html' %}

<div id="page-start-anchor"></div>
 

{% include 'includes/header-custom.html' with {
    topNavbarText: true,
    headerClasses: 'header-fixed-xl'
} %}

<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="assets/images/Rose-breasted Grosbeak_PH1.jpg"  alt="hero background" class="jarallax-img"/>
        <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.5)"></div>
    </div>
    <div class="hero-foreground container d-flex flex-column justify-content-center">
        <div class="py-14 py-md-23 py-lg-25">
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <h1 class="fs-10 fs-lg-11 mb-0 font-weight-bold text-white">Thayer Birding Software</h1> 
                <p class="mt-7 mb-10 text-white fs-6" style="max-width: 530px">Are you the local bird expert?<br />You soon will be!</p>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <p class="mt-7 mb-10 text-white fs-6" style="max-width: 530px">The software includes 1,007 Species with 6,586 Color Photos, 1,506 Songs, 552 Videos, 700 Quizzes, an ID Wizard, Side-by-Side Comparisons, and much more.</p>
                <a class="btn btn-lg btn-light" style="background:darkgreen; color:White;" href="#about">Learn More!</a>
            </div>
        </div>
    </div>
</section>

<section class="section" id="about">
    <div class="section-content container text-center">
        <h1 class="mb-0">About this software</h1>
        <div class="row no-gutters mt-6 mt-md-10 mt-lg-17">
            <div class="col-12 col-lg-10 offset-0 offset-lg-1">
                <div class="row">
                    <div class="col">
                        <p>This software is FREE to everyone and being provided by Peter Thayer, president of Thayer Birding Software.</p>
                        <p>This software will run on computers with Windows 7, 8, 10, and 11. Mac OS and Linux are no longer supported.</p>
                        <p>Click the Download menu option or <a href="#download">click here</a> to get started!</p>
                        <p>If you like it, please consider supporting the birds with a <a href="https://give.birds.cornell.edu/" target="_blank">charitable donation</a> to Cornell Lab of Ornithology</p>
                        <p>A demonstration video can be viewed by clicking the following image.</p>
                        <a href="video.html" target="_blank"><img src="assets/images/YouTube_Logo_2017.svg" width="256" height="72" /></a>
                    </div>
                </div>

                </p>
            </div>
        </div>
    </div>
</section>

<section class="section bg-secondary" id="download">
    <div class="section-content container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-end">
            <div class="text-center text-md-left">
                <h1>Download and Installation Instructions</h1>
                <div class="row">
                    <div class="col">
                        <ol>
                            <li>Supported environments:</li>
                            <ol>
                                <li>PCs or a Virtual Machine running Windows 7 through 11.  This includes Macs running <a href="https://www.parallels.com/products/desktop/" target="_blank">Parallels</a>.</li>
                                <li>If you're viewing this on anything else (mobile device, Linux, or Mac OS) stop right now. GBNA will not run on any of these environments.</li>
                            </ol>
                            <li>Make sure you have enough disk space to handle the download, the extracted setup files, and the installed software and media.</li>
                                <ul>
                                    <li>Temporarily, you'll need a total of 21 GB -- 7 GB for the downloaded zip, 7 GB for the extacted files, and 7 GB for the installed software. Once it's installed, you'll only need 7 GB.</li>
                                </ul>    
                            <li><a href="zip/GBNA77.zip" download>Download</a> the GBNA zip file that contains all the setup files.</li>
                            <ul>
                                <li>...this can take up to an hour +/- 20 minutes depending on the speed of your connection.</li>
                            </ul>
                            <li>Extract all the files in the zip to a folder.</li>
                            <ul>
                                <li>You should have built-in support for zip files.  Select the zip file in File Explorer -- Extract All should appear in the menu.</li>
                                <li>Recommend extracting the files to an external drive (e.g. USB or Thumbdrive) so you can save a copy of the install for the future.</li>
                            </ul>
                            <li>Run the setup program (setup.exe) that's included with the files. Use the license key "4204-0408-5050-5118".</li>
                            <li>Test the installation by opening the new icon on your desktop.</li>
                            <li>Cleanup your disk space.</li>
                            <ul>
                                <li>Once GBNA is installed, you don't need the downloaded zip and the setup files. Deleting them gives you 14 GB of disk space back.</li>
                            </ul>
                            <li><a href="https://give.birds.cornell.edu/" target="_blank">Donate to Cornell Lab</a>.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section bg-secondary" id="donate">
    <div class="section-content container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-end">
            <div class="text-center text-md-left">
                <h1>Donate to Cornell Lab</h1>
                <img src="assets/images/CornellLabDonate.jpg" style="margin-bottom: 20px;" /><br>
                <a class="btn btn-lg btn-light" style="background:darkgreen; color:White;" href="https://give.birds.cornell.edu/" target="_blank">Donate!</a>
            </div>
        </div>
    </div>
</section> -->

<section class="section bg-secondary" id="note">
    <div class="section-content container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-end">
            <div class="text-center text-md-left">
                <h1>A Note from Pete Thayer</h1>
                <div class="row">
                    <div class="col">
                        <img src="assets\images\pete.jpg" style="margin-bottom: 20px;" />
                        <p>Even though Thayer Birding Software was closed in 2021 (after 25 years in business), I wanted to continue to make this amazing software available.</p> 
                        <p>Please note that we are no longer associated with the web site ThayerBirding.com. As a result, some of the links in the on-line help files will no longer function.</p> 
                        <p>One-on-one technical support is no longer available.</p>
                        <p>This software can be downloaded at no cost to you -- but the contents are copyrighted, so you may not use the photos, songs, maps, etc. on your personal web site.</p>
                        <p>If you enjoy this software, please tell your friends, teachers, and local nature organizations about it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer start -->
{% include 'includes/footer-custom.html' %}
<!-- footer end -->
 
<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
